In [249]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from matplotlib.dates import DayLocator, HourLocator, DateFormatter, drange

In [250]:
confirmed_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
confirmed = pd.read_csv(confirmed_url)

deaths_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'
deaths = pd.read_csv(deaths_url)

recovered_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'
recovered = pd.read_csv(recovered_url)

In [251]:
confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,50,53,59,70,75,82,114,147,177,212
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,511,581,639,639,701,773,839,825,878,889
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,150,160,178,178,200,212,226,243,266,313
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,117,129,149,149,197,238,428,566,673,790
5,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,32,32,39,46,64,64,73,103,103,186
6,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,48,55,65,65,92,112,134,171,210,267
7,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,15,18,21,21,36,49,57,71,94,121
8,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,15,18,20,20,35,46,61,68,78,94
9,NaN,Cambodia,11.5500,104.9167,0,0,0,0,0,1,...,2,2,3,3,5,7,7,7,33,35
10,NaN,Sri Lanka,7.0000,81.0000,0,0,0,0,0,1,...,1,1,2,2,6,10,18,28,44,51
11,NaN,Germany,51.0000,9.0000,0,0,0,0,0,1,...,1176,1457,1908,2078,3675,4585,5795,7272,9257,12327
12,NaN,Finland,64.0000,26.0000,0,0,0,0,0,0,...,30,40,59,59,155,225,244,277,321,336
13,NaN,United Arab Emirates,24.0000,54.0000,0,0,0,0,0,0,...,45,74,74,85,85,85,98,98,98,113
14,NaN,Philippines,13.0000,122.0000,0,0,0,0,0,0,...,20,33,49,52,64,111,140,142,187,202
15,NaN,India,21.0000,78.0000,0,0,0,0,0,0,...,43,56,62,73,82,102,113,119,142,156
16,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,9172,10149,12462,12462,17660,21157,24747,27980,31506,35713
17,NaN,Sweden,63.0000,16.0000,0,0,0,0,0,0,...,248,355,500,599,814,961,1022,1103,1190,1279
18,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,1073,1695,2277,2277,5232,6391,7798,9942,11748,13910
19,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,7,7,9,9,16,19,20,29,29,37
20,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,239,267,314,314,559,689,886,1058,1243,1486
21,NaN,Egypt,26.0000,30.0000,0,0,0,0,0,0,...,55,59,60,67,80,109,110,150,196,196
22,From Diamond Princess,Australia,35.4437,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,NaN,Lebanon,33.8547,35.8623,0,0,0,0,0,0,...,32,41,61,61,77,93,110,99,120,133
24,NaN,Iraq,33.0000,44.0000,0,0,0,0,0,0,...,60,71,71,71,101,110,116,124,154,164
25,NaN,Oman,21.0000,57.0000,0,0,0,0,0,0,...,16,18,18,18,19,19,22,22,24,39
26,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,4,5,7,7,7,11,16,21,22,22
27,NaN,Bahrain,26.0275,50.5500,0,0,0,0,0,0,...,95,110,195,195,189,210,214,214,228,256
28,NaN,Kuwait,29.5000,47.7500,0,0,0,0,0,0,...,64,69,72,80,80,104,112,123,130,142
29,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,20,20,20,24,26,37,48,54,60,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,NaN,Kosovo,42.6026,20.9030,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,2
433,Newfoundland and Labrador,Canada,53.1355,-57.6604,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,3,3
434,Prince Edward Island,Canada,46.5107,-63.4168,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
435,NaN,Central African Republic,6.6111,20.9394,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
436,NaN,Congo (Brazzaville),-4.0383,21.7587,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
437,NaN,Equatorial Guinea,1.5000,10.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,4
438,Mayotte,France,-12.8275,45.1662,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,3
439,NaN,Uzbekistan,41.3775,64.5853,0,0,0,0,0,0,...,0,0,0,0,0,0,1,6,10,15
440,Netherlands,Netherlands,52.1326,5.2913,0,0,0,0,0,0,...,321,382,503,503,804,959,1135,1413,1705,2051
441,Nova Scotia,Canada,44.6820,-63.7443,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5,7,12
442,Guadeloupe,France,16.2500,-61.5833,0,0,0,0,0,0,...,0,0,0,0,1,1,3,6,18,27
443,NaN,Benin,9.3077,2.3158,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
444,NaN,Greenland,71.7069,-42.6043,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
445,NaN,Liberia,6.4281,-9.4295,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,2
446,Curacao,Netherlands,12.1696,-68.9900,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,3,3
447,NaN,Somalia,5.1521,46.1996,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
448,NaN,Tanzania,-6.3690,34.8888,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,3
449,NaN,The Bahamas,24.2500,-76.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
450,Virgin Islands,US,18.3358,-64.8963,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,2,2
451,Cayman Islands,United Kingdom,19.3133,-81.2546,0,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1
452,Reunion,France,-21.1351,55.2471,0,0,0,0,0,0,...,0,0,1,1,5,6,7,9,9,12
453,NaN,Barbados,13.1939,-59.5432,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
454,NaN,Montenegro,42.5000,19.3000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,1
455,NaN,Kyrgyzstan,41.2044,74.7661,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
456,NaN,Mauritius,-20.2000,57.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
457,Aruba,Netherlands,12.5186,-70.0358,0,0,0,0,0,0,...,0,0,0,0,2,2,2,2,3,4
458,NaN,Zambia,-15.4167,28.2833,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
459,NaN,Djibouti,11.8251,42.5903,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
460,NaN,"Gambia, The",13.4432,-15.3101,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
461,Montserrat,United Kingdom,16.7425,-62.1874,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [252]:
date_str = '3/18/20'
rename_columns = {'Province/State' : 'Province_State', 'Country/Region': 'Country_Region',}
label_columns = ['Province/State','Country/Region', 'Lat', 'Long']
pos_columns = ['Lat', 'Long']

labels = confirmed[label_columns]
labels = labels.rename(columns=rename_columns)


confirmed = confirmed.drop(columns=label_columns)
deaths = deaths.drop(columns=label_columns)
recovered = recovered.drop(columns=label_columns)

death_rate = np.divide(deaths, confirmed, where=confirmed!=0) *100

total = pd.concat([labels, death_rate[[date_str]].rename(columns={date_str:'deaths rate'}),
                   deaths[[date_str]].rename(columns={date_str:'deaths'}), 
                   confirmed[[date_str]].rename(columns={date_str:'confirmed'}), 
                   recovered[[date_str]].rename(columns={date_str:'recovered'}) ], axis=1)
total = total.drop(pos_columns, axis=1)

In [253]:
total.query('Country_Region == "Japan"')

  Province_State Country_Region  deaths rate  deaths  confirmed  recovered
1            NaN          Japan     3.262092      29        889        144

In [254]:
total.query('Country_Region == "China"').sort_values('deaths', ascending=False).head(20)

    Province_State Country_Region  deaths rate  deaths  confirmed  recovered
154          Hubei          China     4.604720    3122      67800      56927
159          Henan          China     1.728201      22       1273       1250
169   Heilongjiang          China     2.697095      13        482        459
158      Guangdong          China     0.583942       8       1370       1313
171        Beijing          China     1.705757       8        469        378
164       Shandong          China     0.919842       7        761        746
178         Hainan          China     3.571429       6        168        161
173          Hebei          China     1.886792       6        318        310
167      Chongqing          China     1.041667       6        576        570
162          Anhui          China     0.606061       6        990        984
183      Hong Kong          China     2.209945       4        181         92
161          Hunan          China     0.392927       4       1018       1014
168        Sichuan          China     0.555556       3        540        525
172       Shanghai          China     0.831025       3        361        326
180        Tianjin          China     2.205882       3        136        133
187       Xinjiang          China     3.947368       3         76         73
176        Shaanxi          China     1.219512       3        246        237
182          Gansu          China     1.503759       2        133         91
179        Guizhou          China     1.369863       2        146        144
175        Guangxi          China     0.790514       2        253        250

In [240]:
total.query('Country_Region == "US"').sort_values('deaths', ascending=False).head(20)

,Province_State,Country_Region,deaths rate,deaths,confirmed,recovered
98,Washington,US,5.309735,48,904,1
99,New York,US,1.034126,10,967,0
100,California,US,1.256732,7,557,6
106,Florida,US,3.225806,5,155,0
138,Louisiana,US,2.205882,3,136,0
107,New Jersey,US,1.123596,2,178,1
122,Nevada,US,2.222222,1,45,0
104,Georgia,US,0.826446,1,121,0
120,Kentucky,US,4.761905,1,21,1
119,Indiana,US,4.000000,1,25,0
117,Virginia,US,2.040816,1,49,0
115,South Carolina,US,3.030303,1,33,0
151,South Dakota,US,10.000000,1,10,0
137,Kansas,US,9.090909,1,11,0
108,Oregon,US,2.564103,1,39,0
105,Colorado,US,0.625000,1,160,0
323,"Denver County, CO",US,0.000000,0,0,0
324,"Summit County, CO",US,0.000000,0,0,0
331,"Maricopa County, AZ",US,0.000000,0,0,0
322,"Suffolk County, MA",US,0.000000,0,0,0

In [255]:
total.query('deaths  > 3').sort_values('deaths rate', ascending=False).head(20)

,Province_State,Country_Region,deaths rate,deaths,confirmed,recovered
29,NaN,Algeria,9.459459,7,74,12
14,NaN,Philippines,9.405941,19,202,5
42,NaN,San Marino,9.243697,11,119,4
58,NaN,Indonesia,8.370044,19,227,11
16,NaN,Italy,8.338700,2978,35713,4025
24,NaN,Iraq,7.317073,12,164,43
155,NaN,Iran,6.537642,1135,17361,5389
98,Washington,US,5.424063,55,1014,0
154,Hubei,China,4.604720,3122,67800,56927
18,NaN,Spain,4.478792,623,13910,1081
5,British Columbia,Canada,3.763441,7,186,4
178,Hainan,China,3.571429,6,168,161
1,NaN,Japan,3.262092,29,889,144
21,NaN,Egypt,3.061224,6,196,32
440,Netherlands,Netherlands,2.827889,58,2051,2
403,United Kingdom,United Kingdom,2.703732,71,2626,65
169,Heilongjiang,China,2.697095,13,482,459
106,Florida,US,2.229299,7,314,0
183,Hong Kong,China,2.209945,4,181,92
73,NaN,Poland,1.992032,5,251,13